## Generated if empty string is given at "Please type another file name for output:"
*.pdf
*.run.xml
*.lol

# TikZ & PGF
*.dpth
*.md5
*.auxlock

#pgf externalize folder
pgf-img

# latexrun folder
latex.out

# Python bytecode
*.pyc
